<div class="log-form">


    <form method="POST">

      {% csrf_token %}

      <h1>Create User</h1>
      {% if result == 'Valid' %}
        <p>{{ validated_user_name }}</p>
        <p>{{ validated_user_email }}</p>
      {% elif result == 'Not Valid' %}
        <p>Not Valid Data</p>
      {% else %}
        <p>Please Enter Data in The Form</p>
      {% endif %}
        <p>{{ validated_user_password }}</p>
      <input type="text" name="username" placeholder="username" />
      <br>
      <input type="text" name="Email" placeholder="Email" />
      <br>
      <input type="password" name="password" placeholder="password" />
      <br>
      <button type="submit" class="btn">save</button>
      <br>
      <a class="forgot" href="#">Forgot Username?</a>


    </form>

  </div>